.homeContainer {
  display: flex;
  width: 100%;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #272626);
  background: linear-gradient(to right, #000000, #272626);
  color: white;
}
